[submodule "1040"]
	path = 1040
	url = https://github.com/SamGu-NRX/CSCE_1040.git
[submodule "2110"]
	path = 2110
	url = https://github.com/SamGu-NRX/CSCE-2110-master.git
[submodule "3444/UNTangle"]
	path = 3444/UNTangle
	url = https://github.com/SamGu-NRX/UNTangle.git
